<div class="padding-t-30 center">
    <h1>Team Harambe</h1>

    <div class="row padding-t-30">

        <div class="col-xs-6 col-center">
            <div class="thumbnail profile">
                <img src="app/img/vishal.png" class="img-circle img-responsive">
                <div class="caption profile-text">
                    <h4>Vishal Bollu</h4>
                    <p>vbollu@connect.ust.hk</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-center">
            <div class="thumbnail profile">
                <img src="app/img/kyle.png" class="img-circle img-responsive">
                <div class="caption profile-text">
                    <h4>Kyle Doerrler</h4>
                    <p>kwdoerrler@connect.ust.hk</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-center">
            <div class="thumbnail profile">
                <img src="app/img/jaydeep.png" class="img-circle img-responsive">
                <div class="caption profile-text">
                    <h4>Jaydeep Mistry</h4>
                    <p>jrmistry@connect.ust.hk</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-center">
            <div class="thumbnail profile">
                <img src="app/img/mallika.png" class="img-circle img-responsive">
                <div class="caption profile-text">
                    <h4>Mallika Trivedi</h4>
                    <p>mtrivediaa@connect.ust.hk</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-center">
            <div class="thumbnail profile">
                <img src="app/img/tonia.png" class="img-circle img-responsive">
                <div class="caption profile-text">
                    <h4>Tong Tong</h4>
                    <p>ttongac@connect.ust.hk</p>
                </div>
            </div>
        </div>

    </div>
</div>
