<div class="text-center">
    <h1>Administrative Page</h1>
    <h2 id="text_event_name"></h2>
    <div id="admin_page_controller">
        <div class="row">
            <div class="col-md-8 col-xs-8 panel">
                <input type="text" placeholder="EventID" ng-model="event.name" required>
            </div>
            <div class="col-md-8 col-xs-8 panel">
                <strong>Minimum Team Size:</strong>
                <span class="badge">
                 {{event.minTeamSize}}</span>
                <button><span class="glyphicon glyphicon-plus" ng-click="changeMinTeamSize(1);"></span></button>
                <button><span class="glyphicon glyphicon-minus" ng-click="changeMinTeamSize(-1);"></span></button>
                <br><br>
                <strong>Maximum Team Size: </strong>
                <span class="badge">
                 {{event.maxTeamSize}}</span>
                <button><span class="glyphicon glyphicon-plus" ng-click="changeMaxTeamSize(1);"></span></button>
                <button><span class="glyphicon glyphicon-minus" ng-click="changeMaxTeamSize(-1);"></span></button>
                <br><br>
                <button type="button" class="btn btn-primary" ng-click="saveFunc();">Create/Modify</button>
                <!-- Delete Button** -->
                <button type="button" class="btn btn-primary" ng-click="deleteFunc();">Delete Event</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-xs-6 text-right">
                <h3>All teams:</h3>
                <ul ng-repeat="team in teams">
                    <li>
                        User ID: {{team.$id}} <br>
                        Preferred team size: <span class="badge">{{team.size}}</span> <br>
                        Current team members: {{team.teamMembers}}
                    </li>
                </ul>
            </div>

            <div class="col-md-6 col-xs-6 text-left">
                <h3>All members:</h3>
                <ul ng-repeat="member in members">
                    <li>ID = {{member.$id}} <br>
                        Name = {{member.name}} <br>
                        request to join the following teams: {{member.selection | json}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>