<div class="text-center">
    <h1>Event {{eventID}}</h1>
    <div id="team-desc-container" class="panel panel-info team-info-container">
        <div class="team-desc-content">
            <label>Event:</label>
            <span>{{event.name}}</span>
        </div>
        <div class="team-desc-content">
            <label>Admin:</label>
            <span>{{event.admin.name}}</span>
        </div>
    </div>

    <div class="team-creation-form-group event-update-info">
        <label class="team-creation-form-label">Event Description</label>
        <div id="event-description" class="team-creation-form-input">
            <textarea id="eventDescTextarea" rows="2" cols="20" type="text" placeholder="{{event.desc}}" ng-model="event.desc"></textarea>
        </div>
    </div>

    <div id="min-max-ctrl-container" class="team-creation-form-group event-update-info" >
        <div class="row">
            <!--TODO: replace the value and functions below with the actual code-->
            <div class="min-max-ctrl-label">
                <label>Minimum Team Size:</label>
                <span class="badge team-size-badge">{{event.minTeamSize}}</span>
            </div>
            <div class="min-max-ctrl-btns">
                <button class="btn btn-info" ng-click="changeMinTeamSize(-1)">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button class="btn btn-primary" ng-click="changeMinTeamSize(1)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>

        <div class="row padding-t-10">
            <!--TODO: replace the value and functions below with the actual code-->
            <div class="min-max-ctrl-label">
                <label>Maximum Team Size:</label>
                <span class="badge team-size-badge">{{event.maxTeamSize}}</span>
            </div>
            <div class="min-max-ctrl-btns">
                <button class="btn btn-info" ng-click="changeMaxTeamSize(-1)">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button class="btn btn-primary" ng-click="changeMaxTeamSize(1)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>

    <button id="update-btn" type="submit" class="btn btn-primary" ng-click="updateEvent()">Update!</button>
</div>
