<div class="row featurette" id="page_about">
    <div class="col-md-12">
        <div id="landing-graphic"></div>

        <h2 class="center padding-t-30">A real-time online team forming app</h2>

        <p class="padding-t-30">With a few simple clicks, you can easily take on one of these roles for an event:</p>

        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Administrator</h3>
                <ul>
                    <li>Be responsible for creating an event for team forming</li>
                    <li>Be able to set the minimum and maximum team size for the event</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Team Leader</h3>
                <ul>
                    <li>Be able to add and remove requests made by members</li>
                    <li>Once a member joins the team, all his/her requests will be deleted</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Member</h3>
                <ul>
                    <li>Be able to request to join multiple teams</li>
                </ul>
            </div>
        </div>

    </div>
</div>