<div class="center">
    <h1>Create a new team leader profile</h1>

    <form id="team-creation-form">

        <div class="team-creation-form-group">
            <label for="inputUserID" class="team-creation-form-label">Event ID</label>
            <div class="team-creation-form-input">
                <input type="text" id="inputEventID" ng-model="eventID" placeholder="Enter the event ID">
            </div>
        </div>

        <div class="team-creation-form-group">
            <label for="inputUserID" class="team-creation-form-label">User ID</label>
            <div class="team-creation-form-input">
                <input type="text" id="inputUserID" ng-model="userID" placeholder="Enter a unique user ID">
            </div>
        </div>

        <div class="team-creation-form-group">
            <label for="inputUserName" class="team-creation-form-label">Name</label>
            <div class="team-creation-form-input">
                <input type="text" id="inputUserName" ng-model="userName" placeholder="Enter your name">
            </div>
        </div>

        <div class="team-creation-form-group">
            <label for="teamName" class="team-creation-form-label">Team ID</label>
            <div class="team-creation-form-input">
                <input type="select" id="teamName" ng-model="teamName" placeholder="Enter a new team ID">
            </div>
        </div>

        <div class="team-creation-form-group">
            <label id="add-skill-btn" class="team-creation-form-label">
                <button class="btn btn-primary" ng-click="addSkillFunc(newSkill)">Add Skill</button>
            </label>
            <div class="team-creation-form-input">
                <input type="select" ng-model="newSkill" placeholder="Enter a desired skill"/>
                <div>
                    <ul>
                        <li class="skill-item" ng-repeat="skill in skills track by $index">{{skill}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <button id="create-btn" class="btn btn-primary" ng-click="createTeam()">Create!</button>

    </form>
</div>