<div id="team_page_controller" ng-controller="TeamCtrl" class="center">
    <h1>Team {{teamID}}</h1>

    <div id="team-desc-container" class="panel panel-info team-info-container">
        <div class="team-desc-content">
            <label>Event:</label>
            <span>{{event.name}}</span>
        </div>
        <div class="team-desc-content">
            <label>Leader:</label>
            <span>{{team.leadName}}</span>
        </div>
    </div>

    <h2 class="padding-t-30">Search for Team Members</h2>

    <div class="padding-t-10">
        <input type="text" ng-model="query" placeholder="Enter search text here">
        <button type="button" class="btn btn-success" ng-click="search(query)">Search</button>
        <span>or</span>
        <button type="button" class="btn btn-info">Autofill</button>
    </div>

    <br>

    <div ng-show="searchResults != null && searchResults.length < 1">
        Could not find any results.
    </div>

    <div class="member-search-div" ng-repeat="member in searchResults">
        <div class="member-search-card">
            <member-card data="member"></member-card>
        </div>
        <div class="member-search-invite-btn">
            <button type="button" class="btn btn-warning" ng-click="addMember(member.memberID)">Add</button>
        </div>
    </div>

    <h2 class="padding-t-30">Team Members</h2>

    <div ng-show="hasNoMembers()">
        There are no members currently.
    </div>

    <div class="member-card-div" ng-repeat="member in teamMembers">
        <member-card data="member"></member-card>
    </div>

</div>
